<div id="1" class="card, indent" style="width: 30rem;">
  <img class="card-img-top"
       src="https://png2.kisspng.com/20180502/jze/kisspng-mathematics-number-sense-nonpositional-numeral-sys-mathematics-clipart-5aea3c50112ff8.1689120115253003040704.png"
       alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Sum, difference, product</h5>
    <p class="card-text"> Hi, this method will help you find out the sum, difference and product of any two numbers.</p>
    <a href="" class="btn btn-primary">Open</a>
  </div>
</div>


<nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item disabled">
      <a class="page-link" href="#1" tabindex="-1">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#2">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>