
<nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item disabled">
      <a class="page-link" href="#1" tabindex="-1">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#2">2</a></li>
    <li class="page-item"><a class="page-link" href="#3">3</a></li>
    <li class="page-item"><a class="page-link" href="#4">4</a></li>
    <li class="page-item"><a class="page-link" href="#5">5</a></li>
    <li class="page-item"><a class="page-link" href="#6">6</a></li>
    <li class="page-item"><a class="page-link" href="#7">7</a></li>
  </ul>
</nav>
<h1>50 tasks</h1>

<ol>
  <% @tasks_num.each do |num| %>
    <% @met = num %>
    <li>
      <a href="/lists"><%=@met %></a>
    </li>
  <% end %>
</ol>


