// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.indent {
   margin-top: 50px;
   margin-left: 450px;
   margin-right: 450px;
 }