// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.indent {
   margin-top: 50px;
   margin-left: 200px;
   margin-right: 200px;
 }

.stile_text {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 1.7rem;

}